.splash-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-title {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.splash-page-container {
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 1rem;
}

.splash-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid rgb(50, 50, 50);
    background-color:rgb(50, 50, 50);
    border-radius: 0.2rem;
    height: 3rem;
    cursor: pointer;
    width: 20rem;
}

.splash-btn:hover {
    border: 2px solid rgb(150,150,150);
}
