* {
    box-sizing: border-box;
}

.home-button-img {
    width: 4rem;
    background-color: white;
    padding: 0.2rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.home-button-img:hover {
    border: 0px;
}

.home-btn-rides-container {
    display: flex;
    align-items: center;
}

.rotate:hover{
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    /* padding-bottom: 0.2rem; */
    /* margin-bottom: 1rem; */
    border-bottom: 1px solid darkgray;
    background-color: rgb(15, 15, 15);
}

.create-ride-btn,
.rides-link,
.login-btn,
.signup-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgb(50, 50, 50);
    background-color:rgb(50, 50, 50);
    border-radius: 0.2rem;
    height: 3rem;
}

.signup-btn {
    margin-left: 0rem;
}

.user-btn-text {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.user-btn {
    display: flex;
    align-items: center;
    margin: 1rem;
    margin-left: 0;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 0.2rem;
    height: 3rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

.create-ride-btn:hover,
.user-btn:hover,
.rides-link:hover,
.login-btn:hover,
.signup-btn:hover {
    border: 2px solid rgb(150,150,150);
}

.nav-bar-right {
    display: flex;
}

.create-ride-btn-container {
    display: flex;
    align-items: center;
}

.profile-dropdown {
    position: absolute;
    top: 5rem;
    right: 0.8rem;
    background-color: rgba(10, 10, 10, 0.9);
    /* width: 12rem; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(20, 20, 20, 0.8);
}

.profile-dropdown:hover {
    border: 1px solid rgba(50, 50, 50, 0.8);
}

.profile-dropdown > span {
    padding-top: 0.2rem;
}

.logout-btn {
    background-color: rgb(50,50,50);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
    font-size: 1rem;
    padding: 0.3rem;
    cursor: pointer;
}

.logout-btn:hover {
    /* transform: scale(1.05); */
    border: 1px solid white;
}

li {
    list-style-type: none;
}

.create-ride-ele {
    /* background-color: white; */
    position: absolute;
}

.create-ride-btn {
    cursor: pointer;
}

.create-ride-btn,
.rides-link {
    white-space: nowrap;
}

.hide {
    display: none;
}

#home-button:hover {
    /* border: none !important; */
    outline: 0 !important;
}

#dropdown-email {
    margin-bottom: 0.5rem;
}
